/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

.iconos .figure{
  float: none;
  width: auto;
  text-align: center;

}

.iconos .figure img{
	text-align: center;

	}

.textoicono{
  float: auto;
  width: auto;
  text-align: center;
}

.iconos2 .figure{
  float: none;
  width: auto;
  text-align: center;

}

.iconos2 .figure img{
	text-align: center;

	}

.textoicono2{
  float: auto;
  width: auto;
  text-align: center;
}

.recorte{
  height: 300px;
}
.imagenbanner img{
   position: absolute;
  bottom: 0;
  width: auto;;
   max-height: 90%;
 margin-right: auto;
 margin-left: auto;
 left: 10%;
 right: auto;

}

footer {
  text-align: left;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }